<configuration scan="true" scanPeriod="15 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- %d{yyyy-MM-dd HH:mm:ss.SSS} -->
			<pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/hbec/logs/passport/log.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>/hbec/logs/passport/log.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>15</maxHistory>
            </rollingPolicy>

            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
			
    </appender>
    
    <appender name="ERRORLOG"
    	class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<filter class="ch.qos.logback.classic.filter.LevelFilter">
	      	<level>ERROR</level>
	     	<onMatch>ACCEPT</onMatch>
	      	<onMismatch>DENY</onMismatch>
    	</filter>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <pattern>
                    <pattern>
                        {
	                        "appName": "passport",
	                        "logType": "errorlog"
                        }
                    </pattern>
                </pattern>
                <logLevel />
                <loggerName />
                <threadName />
                <message />
                <stackTrace />
            </providers>
    	</encoder>
    	<rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/hbec/tomcat/logs/monitor/error-%d{yyyy-MM-dd}.log
            </fileNamePattern>
    	</rollingPolicy>
	</appender>	
 
	<root level="INFO">
		<!-- 
		<appender-ref ref="FILE" /> 
		<appender-ref ref="STDOUT" />
		-->
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ERRORLOG" />
	</root>

	<logger name="PlatformBootstrap" level="TRACE" />
	<logger name="com.alibaba.dubbo" level="ERROR" />
	<logger name="org.apache.dubbo" level="ERROR" />
	<logger name="org.apache.zookeeper" level="ERROR" />
	<logger name="org.apache.hadoop" level="ERROR" />
	<logger name="org.apache.commons.httpclient.HttpMethodBase" level="ERROR"/>
	<logger name="hbec.app.test.TestHandshakeAction" level="FATAL" />
	
	<!--
	<logger name="httpclient.wire.header" level="INFO"/>
	<logger name="httpclient.wire.content" level="INFO"/>
	<logger name="org.apache.http" level="INFO"/>
	<logger name="hbec.app.transaction.subsystem.nativecall" level="INFO"/>
	<logger name="hbec" level="TRACE" />
	<logger name="PlatformUriHandler" level="TRACE" />
	<logger name="PlatformMgtHandler" level="TRACE" />
	<logger name="DEBUGGING" level="TRACE" /> 
	<logger name="freemarker" level="INFO" />
	<logger name="freemarker.beans" level="INFO"/>
	<logger name="freemarker.cache" level="INFO"/>
	<logger name="org" level="INFO" />
	<logger name="pldb.appinfo.getLstAppInfo" level="DEBUG" />
	<logger name="hbec.dwh.loggerCollector.log4c.disruptor.BatchLogEventsHandler" level="DEBUG" />
	<logger name="hbec.dwh.loggerCollector.log4c.http.HttpClientUtility" level="DEBUG" />
	-->
	
</configuration>